{% extends "base_content.html" %}

{% block title %}Gezegen{% endblock %}

{% block billboard %}
    <h2>Gezegen<h2>
{% endblock %}

{% block single_content %}
    {% for item in item_list %}
        <h5><a href="{{ item.link }}">{{ item.title }}</a></h5>
        <p class="date">
            {{ item.date_modified|date:"N jS, Y \a\t P" }} by <a href="{{ item.feed.public_url }}">{{ item.feed.title }}</a>
        </p>
    {% empty %}
        <p>Şimdilik bir girdi bulunmamaktadır. Daha sonra tekrar bekleriz.</p>
    {% endfor %}
{% endblock %}
