{% extends "base.html" %}
{%block billboard%}Etkinlikler{%endblock%}

{% block title %}Etkinlikler{% endblock %}

{% block content %}
	<div id="content-main">
			
			{% for item in object_list %}
				{% include 'events/event_item.html' %}
			{% endfor %}
	</div>
    
{% endblock %}


{% block sidebar %}
    {{ block.super }}
    <h2>Etkinliklerimize katılmak için</h2>
    <p>
        Bizimle <a href="http://teknolab.org/#about">iletişime</a> gecin.
    </p>
    

      {% for item in object_list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
        <p>{{item.start}}</p>
          </li>
    {% endfor %}
{% endblock %}
