{% extends "base.html" %}
{%block billboard%}Blogs{%endblock%}
{% block title %}Blogs{% endblock %}

{%block content%}
	<div id="content-main">
		<h1>Blog Listesi</h1>
		<div class="content first-content">
		    <h2 class="deck">Katilimcilarimizin Bloglari</h2>
		    
		    <ul class="linklist ">
		    	{% for blog in blogs %}
			        <li id="david-larlet">
			            <h3>		                
			                <a title="Bloga gitmek icin tiklayiniz" href="{{ blog.get_absolute_url }}">		                
			                {{ blog.title }}		                
			                </a>		                
			            </h3>
			            <div class="bio">{{ blog.description }}.</div>
			        </li>
				{% endfor %}    
		    </ul>
		    
		</div>
	</div>
{%endblock%}


