<html>
{% extends "base.html" %}

{% block content %}

	<br><center><font face="cambria" size="4">İletişim Formu</font></center>

		<form method="post" action="">
		<table>{{ form.as_table }}</table>
		<center><input type="submit" /></center>
		</form>
		
{% endblock %}

{% block menu %}
    
    <center>
    <img src="/djangok.png" height="62" width="238" border=0>
    </center>
    
    	{% for blog in blogs %}
        <li><a href="{% url blog_detail blog_slug=blog.slug %}" style="text-decoration:none">
        <font color="FFc757" face="tahoma">{{ blog.title }}</font></a></li>
    	{% endfor %}

    <center><br>
    <img src="/djangos.png" height="62" width="238" border=0>
    </center>
    
    	{% for entry in entries %}
       
        	<li><a href="{% url entry_detail blog_slug=entry.blog.slug,entry_slug=entry.slug %}" style="text-decoration:none">
        	<font color="FFe761" face="tahoma" size=2>{{ entry.title }}</font></a></li>
        
       		<font color="90ba9e" size=2 face="tahoma"><br>
        	Yayın Tarihi:{{ entry.added|date:"d.m.Y" }}</font><br><br>
        
    	{% endfor %}
    
{% endblock %}

</html>