{% extends "base.html" %}
{%block billboard%}Blog{%endblock%}
{% block title %}Blog{% endblock %}

{%block content%}
	<div id="content-main">
		<h1>Yazı Detayı</h1>
		<div class="content first-content">
		    <h2 class="deck"> {{ entry.title }} </h2>
		    
		    <ul class="linklist ">
		        <li id="david-larlet">
		            <h3>		                
		                {{ entry.teaser }}	                
		            </h3>
		            <div class="bio">{{ entry.body|linebreaksbr }}</div>
		            <div class="bio">Ekleme Tarihi:{{ entry.added }} {%if entry.modified%} - Degistirilme Tarihi:{{ entry.modified }}{% endif %} </div>
		            <p>Ekleyen: <a href="{{entry.user.profile_set.all.0.get_absolute_url}}">{{entry.user.profile_set.all.0.name}}</a></p>			            
		        </li>
		    </ul>
		    
		</div>
	</div>
	<div class="sidebar" id="content-related">
      
		<h2>Sizde Katılın</h2>
		<p>
		    Django dünyasına siz de katkıda bulunmak istiyorsanız. <a href="#">Tıklayın.</a>
		</p>
		

    	{% for entry in entries %}
	        <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
	        <p>{{ entry.teaser }}</p>			            
	        </li>
		{% endfor %}
    </div>
    
{%endblock%}

