{% extends "base.html" %}
{%block billboard%}Blog{%endblock%}
{% block title %}Blog{% endblock %}

{%block content%}
	<div id="content-main">
		<h1>Yazılar</h1>
		<div class="content first-content">
		    <h2 class="deck">Son Eklenen Yazılar</h2>
		    
		    <ul class="linklist ">
		    	{% for entry in entries %}
			        <li id="david-larlet">
			            <h3>		                
			                <a title="{{entry.user.profile_set.name}}" href="{{ entry.get_absolute_url }}">		                
			                {{ entry.title }}		                
			                </a>		                
			            </h3>
			            <div class="bio">{{ entry.body|linebreaksbr }}</div>
			            <div class="bio">Tarih:{{ entry.added }}</div>
			            <p>Ekleyen: <a href="{{entry.user.profile_set.all.0.get_absolute_url}}">{{entry.user.profile_set.all.0.name}}</a></p>			            
			        </li>
				{% endfor %}    
		    </ul>
		    
		</div>
	</div>
	<div class="sidebar" id="content-related">
      
		<h2>Siz de Katılın</h2>
		<p>
		    Django dünyasına siz de katkıda bulunmak istiyorsanız. <a href="#">Tıklayın.</a>
		</p>
		

    	{% for entry in entries %}
	        <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
	        <p>{{ entry.teaser }}.</p>			            
	        </li>
		{% endfor %}
    </div>
    
{%endblock%}


