{% extends "base.html" %}
{%block billboard%}Blog{%endblock%}
{% block title %}Blog{% endblock %}

{%block content%}
	<div id="content-main">
		<h1>{{ entry.title }}</h1>
		<div class="content first-content">
		    <h2 class="deck">{{ entry.teaser }}</h2>
		    
		    <ul class="linklist ">
		        <li id="david-larlet">
		            <div class="bio">{{ entry.body|safe|linebreaksbr }}</div>
		            <div class="bio">Ekleme Tarihi:{{ entry.added }} {%if entry.modified%} - Degistirilme Tarihi:{{ entry.modified }}{% endif %} </div>
		            <p>Ekleyen: <a href="{{entry.user.profile_set.all.0.get_absolute_url}}">{{entry.user.profile_set.all.0.name}}</a></p>			            
		        </li>
		    </ul>
		    
		</div>
	</div>
{%endblock%}

{% block sidebar %}
    <ul>
    {% for entry in entries %}
        <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
        <p>{{ entry.teaser }}.</p>                  
        </li>
    {% endfor %}
    </ul>
    {{ block.super }}
{% endblock %}
