{% extends "base.html" %}
{%block billboard%}
	Zamanı sınırlı mükemmelliyetçiler için web uygulamaları geliştirme platformu
	<span>Django daha iyi web uygulamalarını daha kısa zamanda ve daha az kodla geliştirmenize yardımcı olur</span>
{%endblock%}
{% block title %}Ana Sayfa{% endblock %}

{%block content%}
	<div id="content-main">
		<h1> Django'yu keşfedin </h1>

    <table width="100%">
      <tr>
        <td width="33%" valign="top">
          <div class="home-content">
            <div class="content">
                <p>
                    Django, modüler bir tasarımla, web uygulamaları geliştirmenizi 
                    sağlayan açık kaynak kodlu, <a href="http://www.python.org/">Python</a> 
                    tabanlı bir web uygulamaları platformudur.
                </p>
                <p>
                    Web geliştirme sürecindeki tekrarları ortadan kaldırarak, 
                    "kendini tekrar etmeme" presibine uygun olarak geliştirme yapmanızı sağlar.
                </p>

            </div>
          </div>
        </td>
        <td width="33%" valign="top">
          <div class="home-content">
            <div class="content">
                <p>
                    Django Türkiye etkinlikleri:
                </p>
                
                <ul class="linklist sitelist">
                  {% for event in events %}
                      <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
                {% endfor %}                                                    
                </ul>
                
                <p>
                    <a class="more-about home-about" href="{%url event_list%}">Etkinlikler sayfasına gitmek için tıklayın</a>
                </p>
            </div>
          </div>
        </td>
        <td width="33%" valign="top">
          <div class="home-content">
            <div class="content">
                <p>
                    Django Türkiye'de yayınlanan son yazılar:
                </p>
                
                <ul class="linklist sitelist">
                  {% for entry in entries %}
                      <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
                {% endfor %}                                                    
                </ul>
                
                <p>
                    <a class="more-about home-about" href="{%url entry_list%}">Yazılar sayfasına gitmek için tıklayın</a>
                </p>
            </div>
          </div>    
        </td>
      </tr>
    </table>		

	</div>
    
{%endblock%}


{% block sidebar%}
    {{ block.super }}
    <h2>Kısa yollar</h2>
    <ul class="linklist">
        <li class="button-download">
            <a href="http://www.djangoproject.com/download/"><strong>İndirin</strong></a>
        </li>
    </ul>

    <p>
        Django resmi sitesine <a href="http://www.djangoproject.com/">buradan</a> ulaşabilirsiniz.
    </p>

    <p>
        Açık kaynak kodlu, <a href="http://code.djangoproject.com/browser/django/trunk/LICENSE">BSD lisanslı</a>
    </p>
      
    <h2>Django ile geliştirilmiş bazı siteler</h2>
    {% for site in sites %}
        <li><a href="{{ site.url }}">{{ site.name }}</a></li>
        <p>{{ site.about }}.</p>                  
        </li>
    {% endfor %}
{% endblock %}
