{% extends "base.html" %}
{%block billboard%}Djangocular{%endblock%}

{% block title %}Dajngocular{% endblock %}

{% block content %}

	<div id="content-main">
	  {% comment %}
		<h1>
			<form name="city_form" id="city_form">
				Şehirler:
				<select name="city" onchange="this.form.submit();">
					<option value="0">------------</option>
					{% for city in cities %}
						<option value="{{city.id}}" {% if city.id|stringformat:"s" == request.GET.city%}selected{% endif %}>{{city.name}}</option>
					{% endfor %}
				</select>
			</form>		
		</h1>
		{% endcomment %}
		<div class="content first-content">

			<ul class="linklist ">
		
				{% for item in object_list %}
					{% include 'profiles/profile_item.html' %}
				{% endfor %}
				
			</ul>
		</div>
		
	</div>
{% endblock %}

