{% load thumbnail %}
{% block content %}

	<li id="david-larlet">
        <h3>		                
            <a href="{{ item.get_absolute_url }}">{{item.name}}</a>		                
			<br><img src="{% thumbnail item.photo 180x180 crop="smart" %}"></br>
        </h3>
        <div class="bio">
			<p>Şehir: {{item.city}}</p>                                                                                                                                                                                                                            				   			
   	    </div>
                                                                                                                 
{% endblock %}
