{% load thumbnail %}
{% block content %}

	<li id="david-larlet">
        <h3>		                
            <a href="{{ item.get_absolute_url }}">{{item.name}}</a>		                
			<br>
			{% if item.photo %}
			   <img src="{% thumbnail item.photo 120x120 %}"></br>
			{% endif %}
        </h3>
        <div class="bio">
			<p>Şehir: {{item.city}}</p>                                                                                                                                                                                                                            				   			
   	    </div>
                                                                                                                 
{% endblock %}
