{% extends "base.html" %}

{% block billboard %}
	Zamanı sınırlı mükemmelliyetçiler için web uygulamaları geliştirme platformu
	<span>Django daha iyi web uygulamalarını daha kısa zamanda ve daha az kodla geliştirmenize yardımcı olur</span>
{% endblock %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
    <div class="span-18 last" id="core-content">
        <div class="span-12" id="core-index">
            <div class="prepend-top append-bottom padding-horizontal">
                <h1>Django'yu Keşfedin</h1>
                <h2>Django, hızlı geliştirmeye ve temiz, faydacı tasarıma olanak sağlayan bir <a href="http://python.org/">Python</a> web çatısıdır.</h2>

                <p>İnternet üzerinden binlerce geliştiricinin desteğiyle gelişen Django, iki temel zorlukla baş edebilecek biçimde tasarlanmıştır: Kısa zamanda bitirilmesi gereken projeler ve o projeleri yazan deneyimli web geliştiricilerinin sıkı gereksinimleri. Bu nedenle, Django'yla yüksek performanslı, şık web uygulamalarını hızlıca yazmak mümkündür.</p>

                <p>Web geliştirme sürecindeki tekrarları ortadan kaldırarak, <a href="http://c2.com/cgi/wiki?DontRepeatYourself">kendini tekrar etmeme</a> presibine uygun olarak geliştirme yapmanızı sağlar.</p>
            </div>

            <div class="span-12 last" id="core-content-secondary">
                <div class="prepend-top append-bottom padding-horizontal">
                    <h2>Django Türkiye etkinlikleri</h2>
                    <ul class="linklist sitelist">
                        {% for event in events %}
                            <li>
                                <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                                <span class="date">{{ event.start|date:"j F Y, H:m"}}</span>
                            </li>
                        {% empty %}
                            <li>Güncel bir etkinlik bulunamadı, tüm etkinliklerin listesine <a href="{% url event-index %}">buradan</a> bakabilirsiniz.</li>
                        {% endfor %}
                    </ul>

                    <h2>Django Türkiye'de yayınlanan son yazılar</h2>
                    <ul class="feeds">
                        {% for feed in feeds %}
                            <li>
                                <a href="{{ feed.link }}">{{ feed.title }}</a>
                                <span class="datetime">{{ feed.published_at }}</span>
                            </li>
                        {% empty %}
                            <li>Henüz bir yazı yayınlanmadı.</li>
                        {% endfor %}
                    </ul>
                    <p>Tüm yazılara <a href="{% url planet-index %}">buradan</a> bakabilirsiniz.</p>
                </div>
            </div>
        </div>

        <div class="span-6 last prepend-top append-bottom" id="core-sidebar">
            <div class="padding-sidebar">
                <h2>Django ile Geliştirilmiş Siteler</h2>

                <ul>
                    {% for site in sites %}
                        <li>
                            <a href="{{ site.url }}">{{ site.name }}</a>
                            <p>{{ site.about }}.</p>
                        </li>
                    {% empty %}
                        <li>Henüz Django ile geliştirilmiş bir site eklenmedi.</li>
                    {% endfor %}
                </ul>

                <p>
                    Ayrıca <a href="http://django.org.tr/">Django.org.tr</a> web sitesinin kodlarına
                    <a href="https://github.com/teknolab/django.org.tr">GitHub</a>'dan ulaşabilir,
                    dilerseniz katkıda bulunabilirsiniz.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar%}
    {{ block.super }}

    <h2>Kısayollar</h2>

    {% if blogrolls %}
        <ul class="blogroll">
            {% for blogroll in blogrolls %}
                <li><a href="{{ blogroll.url }}">{{ blogroll.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Henüz eklenmiş bir kısayol yok.</p>
    {% endif %}

    <p>
        Django resmi sitesine <a href="http://www.djangoproject.com/">buradan</a> ulaşabilirsiniz.
    </p>
{% endblock %}
